
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <a href="/"><img src="{% static '' %}fabicon.png" alt="" width="90" height="70"></a>
      <h1 class="logo me-auto"><a href="/"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">HOME</a></li>
          <li><a class="nav-link scrollto" href="/about/">ABOUT</a></li>

          <li><a class="nav-link scrollto" href="/Gallery/">GALLERY</a></li>

          <li class="dropdown"><a href="#"><span>PRODUCTS</span> <i class="bi bi-chevron-down"></i></a>
            <ul>

              <li class="dropdown"><a href="#"><span>LEATHER-JOURNAL</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/Leather-journal-manufacturer/">Leather-journal-manufacturer</a></li>


                </ul>
              </li>

              <li class="dropdown"><a href="#"><span>LEATHER-BAG</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/Leather-Duffle-Bags-manufacturer/">Leather-Duffle-Bags</a></li>
                  <li><a href="/Leather-Backpacks-manufacturer/">Leather-Backpacks</a></li>
                  <li><a href="/Leather-Sling-Bags-manufacturer/">Leather-Sling-Bags</a></li>
                  <li><a href="/Leather-Tote-Bags-manufacturer/">Leather-Tote-Bags</a></li>
                  <li><a href="/Leather-Messenger-Bags-manufacturer/">Leather-Messenger-Bags</a></li>
                  <li><a href="/Leather-Laptop-Bags-manufacturer/">Leather-Laptop-Bags</a></li>
                  <li><a href="/Leather-Briefcase-&-Bags/">Leather-Briefcase-&-Bags</a></li>
                  <li><a href="/Leather-Wash-Bags-Toiletry-Bags/">Leather-Wash-Bags/Toiletry-Bags</a></li>
                  <li><a href="/Leather-Saddle-Bags-manufacturer/">Leather-Saddle-Bags</a></li>
                  <li><a href="/Leather-Hobo-Bags/">Leather-Hobo-Bags</a></li>
                </ul>
              </li>

            </ul>
          </li>


          <li><a class="nav-link scrollto " href="/Leather-bag-manufacturer/">LEATHER-BAG</a></li>
          <li><a class="nav-link scrollto" href="/Leather-journal-manufacturer/">LEATHER-JOURNAL</a></li>
          <li><a class="nav-link scrollto" href="/Leather/">LEATHER</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->